---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="social-links">
		<a href="https://tortoladehenares.wordpress.com/" target="_blank">
			<span class="sr-only">Ir a la web de Tortola de Henares</span>
			<img
				class="social-icon-img"
				src="/IconoTorela.jpg"
				alt="Icono Torela"
				loading="lazy"
				width="32"
				height="32"
			/>
		</a>
		<a href="https://juanjoseperez.jimdofree.com/" target="_blank">
			<span class="sr-only">Ir a la web de Juan José Pérez</span>
			<img
				class="social-icon-img"
				src="/IconoJoseVideos.jpeg"
				alt="Icono Jose Videos"
				loading="lazy"
				width="32"
				height="32"
			/>
		</a>
		<a href="https://www.facebook.com/asociaciontorela?locale=es_ES" target="_blank">
			<span class="sr-only">Ir al Facebook de Asociacion Torela</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M9.028 15V8.66h2.084l.312-2.47H9.028V4.614c0-.715.192-1.204 1.203-1.204h1.286V1.2C11.294 1.17 10.55 1.1 9.684 1.1c-1.81 0-3.05 1.12-3.05 3.176V6.19H4.58v2.47h2.054V15h2.394Z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-icon-img {
		width: 32px !important;
		height: 32px !important;
		max-width: 32px;
		max-height: 32px;
		flex: 0 0 32px;
		object-fit: contain;
		display: block;
		border-radius: 4px;
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
